# Data included

- isocntry: ISO 3166-1 alpha-3 country code
- d11: age exact
- sd18a: democracy satisfaction in country
- d72_2: my voice counts in country
- d1: left-right self-placement
- d25: type of community (urban/rural)
- netuse: internet use
- d8r1: age education ended
- qa8_2: trust in the European Commission

In [47]:
import pandas as pd

pd_ds = pd.read_stata('./ZA7848_v1-0-0.dta', convert_categoricals=False)#.astype(str)

# Print the labels of the columns
print(f"Columns: {pd_ds.columns.tolist()}")

LABEL = 'isocntry'
FEATURES = ['sd18a', 'd72_2', 'd1', 'd11', 'd25', 'netuse', 'qa8_2']
COLS = FEATURES + [LABEL]
NUMERIC_FEATURES = ['d11']
CATEGORICAL_FEATURES = [x for x in FEATURES if x not in NUMERIC_FEATURES]

pd_ds = pd_ds.drop(columns=[col for col in pd_ds.columns if col not in COLS])
original_ds = pd_ds.copy()
# Replace 'Not mentioned' with -1, "Yes" with 1, "No" with 0
# pd_ds = pd_ds.replace({'Not mentioned': -1, 'Yes': 1, 'No': 0})
#ds = datasets.Dataset.from_pandas(pd_ds)
TOTAL_NUMBER_OF_COUNTRIES = len(pd_ds['isocntry'].unique().tolist())
print(f"Total number of countries: {TOTAL_NUMBER_OF_COUNTRIES}")

Columns: ['studyno1', 'studyno2', 'doi', 'version', 'edition', 'survey', 'respondent_serial', 'serialid', 'uniqid', 'tnscntry', 'country', 'isocntry', 'eu27b', 'd11', 'd11r1', 'd11r2', 'q1_1', 'q1_2', 'q1_3', 'q1_4', 'q1_5', 'q1_6', 'q1_7', 'q1_8', 'q1_9', 'q1_10', 'q1_11', 'q1_12', 'q1_13', 'q1_14', 'q1_15', 'q1_16', 'q1_17', 'q1_18', 'q1_19', 'q1_20', 'q1_21', 'q1_22', 'q1_23', 'q1_24', 'q1_25', 'q1_26', 'q1_27', 'q1_28', 'q1_29', 'q1_30', 'q1_31', 'q1_32', 'q1_33', 'q1_34', 'q1_35', 'q1_36', 'q1_37', 'q1_38', 'q1_39', 'q1_40', 'q1_41', 'd70', 'd70a', 'd71_1', 'd71_2', 'd71_3', 'polintr_1', 'polintr_2', 'polintr_3', 'polintr_4', 'qa1_1', 'qa1_2', 'qa1_3', 'qa1_4', 'qa1_5', 'qa1_6', 'qa1_7', 'qa2_1', 'qa2_2', 'qa2_3', 'qa2_4', 'qa2_5', 'qa2_6', 'qa2_7', 'qa3_1', 'qa3_2', 'qa3_3', 'qa3_4', 'qa3_5', 'qa3_6', 'qa3_7', 'qa3_8', 'qa3_9', 'qa3_10', 'qa3_11', 'qa3_12', 'qa3_13', 'qa3_14', 'qa3_15', 'qa3_16', 'qa3_17', 'qa3_18', 'qa4_1', 'qa4_2', 'qa4_3', 'qa4_4', 'qa4_5', 'qa4_6', 'qa4_7', 'qa4_8', 'qa4_9', 'qa4_10', 'qa4_11', 'qa4_12', 'qa4_13', 'qa4_14', 'qa4_15', 'qa4_16', 'qa4_17', 'qa4_18', 'qa4_19', 'qa5_1', 'qa5_2', 'qa5_3', 'qa5_4', 'qa5_5', 'qa5_6', 'qa5_7', 'qa5_8', 'qa5_9', 'qa5_10', 'qa5_11', 'qa5_12', 'qa5_13', 'qa5_14', 'qa5_15', 'qa5_16', 'd73_1', 'd73_2', 'd73_3', 'd73_4', 'qa6a_1', 'qa6a_2', 'qa6a_3', 'qa6a_4', 'qa6a_5', 'qa6at_1', 'qa6at_2', 'qa6at_3', 'qa6b_1', 'qa6b_2', 'qa6b_3', 'qa6b_4', 'qa6b_5', 'qa6b_6', 'qa6b_7', 'qa6b_8', 'qa6b_9', 'qa6b_10', 'qa6b_11', 'qa6b_12', 'd78', 'qa7_1', 'qa7_2', 'qa7_3', 'qa7_4', 'qa7_5', 'qa7_6', 'qa7_7', 'qa7_8', 'qa7_9', 'qa7_10', 'qa7_11', 'qa7_12', 'qa7_13', 'qa7_14', 'qa7_15', 'qa7_16', 'qa7_17', 'qa7b', 'qa7c', 'qa7d', 'qa7e', 'qa8_1', 'qa8_2', 'qa8_3', 'qa8_4', 'qa9_1', 'qa9_2', 'qa9_3', 'qa10', 'qa11_1', 'qa11_2', 'qa11_3', 'qa11_4', 'qa11_5', 'qa11_6', 'qa11_7', 'qa11_8', 'qa11_9', 'qa11_10', 'qa11_11', 'qa11_12', 'qa11_13', 'qa11_14', 'qa12_1', 'qa12_2', 'qa12_3', 'qa13', 'qa14_1', 'qa14_2', 'qa14_3', 'qa14_4', 'qa14_5', 'qa14_6', 'qa14_7', 'qa14_8', 'qa14_9', 'qa14_10', 'qa14_11', 'qa14_12', 'qa14_13', 'qa14_1_1', 'qa14_1_2', 'qa14_1_3', 'qa14_1_4', 'qa14_1_5', 'qa14_1_6', 'qa14_1_7', 'qa14_1_8', 'qa14_1_9', 'qa14_2_1', 'qa14_2_2', 'qa14_2_3', 'qa14_2_4', 'qa14_2_5', 'qa14_2_6', 'qa14_2_7', 'qa14_2_8', 'qa14_2_9', 'qa15', 'qa16_1', 'qa16_2', 'qa16_3', 'qa17', 'qa18', 'sd18a', 'sd18b', 'd72_1', 'd72_2', 'qb1_1', 'qb1_2', 'qb2_1', 'qb2_2', 'qb2_3', 'qb2_4', 'qb3_1', 'qb3_2', 'qb3_3', 'qb3_4', 'qb3_5', 'qb4_1', 'qb4_2', 'qb4_3', 'qb4_4', 'qb4_5', 'qb5_1', 'qb5_2', 'qb5_3', 'qb5_4', 'qb5_5', 'qb5_6', 'qb5_7', 'qb5_8', 'qb5_9', 'qb5_10', 'qb5_11', 'qb5_12', 'qb6_1', 'qb6_2', 'qb6_3', 'qb6_4', 'qb6_5', 'qb6_6', 'qb6_7', 'qb7_1', 'qb7_2', 'qb8_1', 'qb8_2', 'qc1a_1', 'qc1a_2', 'qc1a_3', 'qc1a_4', 'qc2_1', 'qc2_2', 'qc2_3', 'qc3a', 'qc3b_1', 'qc3b_2', 'qc3b_3', 'qc3b_4', 'qc3b_5', 'qc3b_6', 'qc3b_7', 'qc3b_8', 'qc3b_9', 'qc3b_10', 'qc3b_11', 'qc3b_12', 'qc3b_13', 'qc3b_14', 'qc3t_1', 'qc3t_2', 'qc3t_3', 'qc3t_4', 'qc3t_5', 'qc3t_6', 'qc3t_7', 'qc3t_8', 'qc3t_9', 'qc3t_10', 'qc3t_11', 'qc3t_12', 'qc3t_13', 'qc3t_14', 'qc4_1', 'qc4_2', 'qc4_3', 'qc4_4', 'qc4_5', 'qc4_6', 'qc4_7', 'qc4_8', 'qc4_9', 'qc4_10', 'qc4_11', 'qc4_12', 'qc4_13', 'qc4_14', 'qc4_15', 'qc4_16', 'qc4_17', 'qc4_18', 'qc5_1', 'qc5_2', 'qc6_1', 'qc6_2', 'qc7', 'qc8_1', 'qc8_2', 'qc8_3', 'qc8_4', 'qc8_5', 'qc8_6', 'qc8_7', 'qc8_8', 'qc8_9', 'qc8_10', 'qc8_11', 'qc8_12', 'qc8_13', 'qc8_14', 'qc8_15', 'qc8_16', 'qc8_17', 'sd20', 'sd20a_1', 'sd20a_2', 'sd20a_3', 'sd20a_4', 'sd20a_t1', 'sd20a_t2', 'sd20a_t3', 'sd20a_t4', 'sd20a_t5', 'sd20a_t6', 'sd20a_t7', 'sd20a_t8', 'qd1', 'qd2', 'qd3_1', 'qd3_2', 'qd3_3', 'qd3_4', 'qd3_5', 'qd3_6', 'qd3_8', 'qd3t_1', 'qd3t_2', 'qd3t_3', 'qd3t_4', 'qd4a', 'qd4b_1', 'qd4b_2', 'qd4b_3', 'qd4b_4', 'qd4b_5', 'qd4b_6', 'qd4b_7', 'qd4b_8', 'qd4b_9', 'qd4b_10', 'qd4b_11', 'qd4b_12', 'qd4t_1', 'qd4t_2', 'qd4t_3', 'qd4t_4', 'qd4t_5', 'qd4t_6', 'qd4t_7', 'qd4t_8', 'qd4t_9', 'qd4t_10', 'qd4t_11', 'qd4t_12', 'qd5_1', 'qd5_2', 'qd5_3', 'qd5_4', 'qd5_5', 'qd5_6', 'qd5_7', 'qd5_8', 'qd5_9', 'qd5_10', 'qd5_11', 'qd5_12', 'qd6_1', 'qd6_2', 'qd6_3', 'qd6_4', 'qd6_1_1', 'qd6_1_2', 'qd6_1_3', 'qd6_1_4', 'qd7_1', 'qd7_2', 'qd7_3', 'qd7_4', 'qd8_1', 'qd8_2', 'qd8_3', 'qd8_4', 'd1', 'd1r1', 'd1r2', 'd7', 'd7r', 'd8', 'd8r1', 'd8r2', 'd9a_1', 'd9a_2', 'd9a_3', 'd9a_4', 'd9a_5', 'd9a_6', 'd9a_7', 'd9a_8', 'd9a_9', 'd9a_10', 'd9a_11', 'd9a_12', 'd9a_13', 'd9b', 'd10', 'd15a', 'd15a_r1', 'd15a_r2', 'd15b', 'd15b_r', 'd25', 'd40a', 'd40a_r', 'd40b', 'd40b_r', 'd40c', 'd40c_r', 'd40abc_r1', 'd40abc_r2', 'd40abc_r3', 'd40abc_r4', 'd40_d11', 'd60', 'd62_1', 'd62_2', 'd62_3', 'd62_4', 'd62t', 'netuse', 'd63', 'sd21_1', 'sd21_2', 'capi_cawi', 'p1', 'p2', 'p3', 'p4', 'p5', 'p6', 'p13', 'region_austria', 'region_belgium', 'region_bosnia_and_herzegovina', 'region_bulgaria', 'region_croatia', 'region_cyprus', 'region_czechia', 'region_denmark', 'region_germany', 'region_estonia', 'region_finland', 'region_france', 'region_greece', 'region_hungary', 'region_ireland', 'region_italy', 'region_latvia', 'region_lithuania', 'region_luxembourg', 'region_malta', 'region_netherlands', 'region_poland', 'region_portugal', 'region_romania', 'region_slovenia', 'region_slovakia', 'region_spain', 'region_sweden', 'region_iceland', 'region_kosovo', 'region_switzerland', 'region_turkey', 'region_unitedkingdom', 'region_serbia', 'region_macedonia', 'region_cytcc', 'region_albania', 'region_montenegro', 'region_norway', 'w1', 'w1de', 'w5', 'w6', 'w7', 'w9', 'w10', 'w11', 'w85', 'w86', 'w13', 'w94', 'w14', 'w23', 'w95', 'w100', 'w97', 'w22', 'w92', 'w87']
Total number of countries: 40

In [48]:
import torch
import torch.nn as nn

#pd_ds = pd_ds[:100]

# Transform the dataset into a format that can be used by the model
pd_ds = pd_ds[~pd_ds.isin(['DK (SPONT.)']).any(axis=1)]
# Remove the categories 'Refusal/Implausible', '15 years', '98 years' from the column 'd11'
pd_ds = pd_ds[~pd_ds['d11'].isin(['Refusal/Implausible', '15 years', '98 years'])]
# Remove the category 'Refusal (SPONT.)' from the column 'd1'
pd_ds = pd_ds[~pd_ds['d1'].isin(['Refusal (SPONT.)'])]

mappings = {}

with pd.option_context('display.max_colwidth', None, 'display.max_rows', 3, 'display.max_columns', None):
    display(pd_ds.head(5))
    for col in pd_ds.columns:
        #display(pd_ds.value_counts(col))
        # Display the string of the category and the corresponding code in a table
        display(pd_ds[col].astype('category').cat.categories)
        original_series = pd_ds[col]
        converted_series = pd_ds[col].astype('category').cat.codes
        # Store the mapping of the original series and the converted series
        mappings[col] = dict(zip(original_series, converted_series))
        # Display the original series and the converted series side by side, sorted by the converted series
        # Only display unique values on the first column
        with pd.option_context('display.max_rows', None, 'display.max_columns', None):
            display(pd.concat([original_series, converted_series], axis=1).drop_duplicates(subset=converted_series.name, keep='first').sort_values(by=0))

   isocntry  d11  qa8_2  sd18a  d72_2  d1  d25  netuse
0        AL   62      1      2      3   5  3.0       2
..      ...  ...    ...    ...    ...  ..  ...     ...
4        AL   52      2      3      1   1  3.0       1

[5 rows x 8 columns]

Index(['AL', 'AT', 'BA', 'BE', 'BG', 'CH', 'CY', 'CY-TCC', 'CZ', 'DE-E',
       'DE-W', 'DK', 'EE', 'ES', 'FI', 'FR', 'GB', 'GR', 'HR', 'HU', 'IE',
       'IS', 'IT', 'LT', 'LU', 'LV', 'ME', 'MK', 'MT', 'NL', 'NO', 'PL', 'PT',
       'RO', 'RS', 'RS-KM', 'SE', 'SI', 'SK', 'TR'],
      dtype='object')

      isocntry   0
0           AL   0
1014        AT   1
2033        BA   2
3039        BE   3
3912        BG   4
28683       CH   5
4948        CY   6
26119   CY-TCC   7
31330       CZ   8
5462      DE-E   9
5452      DE-W  10
7055        DK  11
29008       EE  12
7431        ES  13
8435        FI  14
8952        FR  15
36401       GB  16
9956        GR  17
10967       HR  18
11968       HU  19
12998       IE  20
29062       IS  21
14004       IT  22
15023       LT  23
16030       LU  24
16282       LV  25
16892       ME  26
17417       MK  27
18439       MT  28
18729       NL  29
28688       NO  30
19741       PL  31
20774       PT  32
21466       RO  33
22517       RS  34
27624    RS-KM  35
25268       SE  36
23562       SI  37
24267       SK  38
26618       TR  39

Int64Index([15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31,
            32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48,
            49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65,
            66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82,
            83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 99],
           dtype='int64')

       d11   0
1053    15   0
1137    16   1
396     17   2
30      18   3
25      19   4
15      20   5
7       21   6
47      22   7
189     23   8
31      24   9
16      25  10
14      26  11
22      27  12
67      28  13
57      29  14
6       30  15
20      31  16
27      32  17
121     33  18
58      34  19
116     35  20
2       36  21
119     37  22
127     38  23
8       39  24
28      40  25
94      41  26
75      42  27
35      43  28
10      44  29
13      45  30
17      46  31
196     47  32
5       48  33
84      49  34
101     50  35
29      51  36
4       52  37
66      53  38
23      54  39
33      55  40
43      56  41
3       57  42
50      58  43
163     59  44
1       60  45
68      61  46
0       62  47
12      63  48
45      64  49
284     65  50
1104    66  51
174     67  52
1079    68  53
1102    69  54
1127    70  55
1147    71  56
1087    72  57
1048    73  58
1018    74  59
1115    75  60
1150    76  61
1250    77  62
1351    78  63
1249    79  64
1176    80  65
1435    81  66
1144    82  67
1134    83  68
1433    84  69
4178    85  70
1487    86  71
1532    87  72
1323    88  73
3199    89  74
1172    90  75
3761    91  76
3355    92  77
3121    93  78
7358    94  79
37408   95  80
6483    96  81
9221    97  82
11088   99  83

Int64Index([1, 2, 3], dtype='int64')

     qa8_2  0
0        1  0
1        2  1
105      3  2

Int64Index([1, 2, 3, 4, 5], dtype='int64')

      sd18a  0
21        1  0
0         2  1
2         3  2
26        4  3
1250      5  4

Int64Index([1, 2, 3, 4, 5], dtype='int64')

      d72_2  0
4         1  0
1         2  1
0         3  2
22        4  3
1024      5  4

Int64Index([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 97, 98], dtype='int64')

      d1   0
2      1   0
20     2   1
19     3   2
27     4   3
0      5   4
18     6   5
23     7   6
31     8   7
17     9   8
3     10   9
1029  97  10
1023  98  11

Float64Index([1.0, 2.0, 3.0], dtype='float64')

      d25  0
8664  NaN -1
44    1.0  0
5     2.0  1
0     3.0  2

Int64Index([1, 2, 3, 4, 5, 6, 7], dtype='int64')

     netuse  0
1         1  0
0         2  1
243       3  2
336       4  3
733       5  4
398       6  5
245       7  6

In [49]:
# Replace the string values with their corresponding codes
for col in CATEGORICAL_FEATURES:
    pd_ds[col].astype('category').cat.remove_unused_categories()
    pd_ds[col] = pd_ds[col].astype('category').cat.codes

pd_ds[LABEL].astype('category').cat.remove_unused_categories()
pd_ds[LABEL] = pd_ds[LABEL].astype('category').cat.codes

# Convert the dataframe column 'isocntry' into a one-hot encoded tensor
#pd_ds['isocntry'] = pd_ds['isocntry'].map(lambda x: torch.nn.functional.one_hot(torch.tensor(x), num_classes=28))

# Move the column 'country' to the end of the dataframe
#countries = pd_ds['country']
#pd_ds = pd_ds.drop(columns=['country'])
#pd_ds['country'] = countries

# Covert the age column 'd11' into an integer
for col in NUMERIC_FEATURES:
    pd_ds[col] = pd_ds[col].astype('category').cat.remove_unused_categories()
    pd_ds[col] = pd_ds[col].astype('int')

with pd.option_context('display.max_colwidth', None, 'display.max_rows', None, 'display.max_columns', None):
    display(pd_ds.head(1))

   isocntry  d11  qa8_2  sd18a  d72_2  d1  d25  netuse
0         0   62      0      1      2   4    2       1

In [50]:
# Perform normalization of the columns
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
for col in FEATURES:
    pd_ds[col] = scaler.fit_transform(pd_ds[col].values.reshape(-1, 1))

with pd.option_context('display.max_colwidth', None, 'display.max_rows', None, 'display.max_columns', None):
    display(pd_ds.head(5))

   isocntry       d11  qa8_2  sd18a  d72_2        d1  d25    netuse
0         0  0.559524    0.0   0.25   0.50  0.363636  1.0  0.166667
1         0  0.535714    0.5   0.25   0.25  0.363636  1.0  0.000000
2         0  0.250000    0.5   0.50   0.25  0.000000  1.0  0.000000
3         0  0.500000    0.5   0.25   0.25  0.818182  1.0  0.000000
4         0  0.440476    0.5   0.50   0.00  0.000000  1.0  0.000000

In [51]:
# Delete the age and political party columns
#pd_ds = pd_ds.drop(columns=['d11', 'd1', 'd25', 'd17', 'd72_2', 'sd18a', 'netuse'])
#pd_ds['country'] = pd_ds['isocntry'] / 28
# Generate a random number between 0 and 27 for each row
#pd_ds['country'] = pd_ds['isocntry'].map(lambda x: torch.randint(0, 28, (1,)).item())
#pd_ds['isocntry'] = pd_ds['country']

In [52]:
# Create a NN with 2 hidden layers of 50 neurons each
# The model outputs a one-hot vector of size 28
# It takes as input a vector of 6 features

DROPOUT = 0.2

class Net(nn.Module):
    def __init__(self):
        super(Net, self).__init__()
        # Number of columns in the dataset minus the column 'isocntry'
        num_features = len(pd_ds.columns) - 1
        self.fc1 = nn.Linear(num_features, 150)
        self.fc2 = nn.Linear(150, 150)
        self.fc3 = nn.Linear(150, 150)
        self.fc4 = nn.Linear(150, TOTAL_NUMBER_OF_COUNTRIES)
        self.activation = nn.ReLU()
        self.softmax = nn.Softmax(dim=0)
        self.dropout = nn.Dropout(p=DROPOUT)

    def forward(self, x):
        x = self.fc1(x)
        x = self.activation(x)
        #x = self.dropout(x)
        x = self.fc2(x)
        x = self.activation(x)
        #x = self.dropout(x)
        #x = self.fc3(x)
        #x = self.activation(x)
        #x = self.dropout(x)
        x = self.fc4(x)
        #x = self.activation(x)
        return x
    
net = Net()

In [53]:
# Generate train and test splits
from sklearn.model_selection import train_test_split
train, test = train_test_split(pd_ds, test_size=0.2)

In [54]:
# Train the net
import torch.optim as optim
torch.manual_seed(0)

criterion = nn.CrossEntropyLoss()
optimizer = optim.AdamW(net.parameters(), lr=0.001, weight_decay=0.01)

MINIBATCH_SIZE = 100

for epoch in range(3):  # loop over the dataset multiple times

    for i in range(0, len(train), MINIBATCH_SIZE):
        loss = 0
        # zero the parameter gradients
        optimizer.zero_grad()
        for j in range(i, min(i + MINIBATCH_SIZE, len(train))):
            # get the inputs; data is a list of [inputs, labels]
            inputs = train.iloc[j, 1:].tolist()
            inputs = torch.tensor(inputs, dtype=torch.float)
            label = train.iloc[j, 0]
            label = torch.tensor(label, dtype=torch.long)

            # forward + backward + optimize
            outputs = net(inputs)
            loss += criterion(outputs, label)
        #print(inputs, outputs, labels, loss)
        loss.backward()
        optimizer.step()

        # print statistics
        if (i / MINIBATCH_SIZE) % 15 == 0:
            print('[%d, %5d] loss: %.3f' %
                    (epoch + 1, i + 1, loss / MINIBATCH_SIZE))
    
    # Evaluate
    correct = 0
    total = 0
    with torch.no_grad():
        for i in range(len(test)):
            inputs = test.iloc[i, 1:].tolist()
            inputs = torch.tensor(inputs, dtype=torch.float)
            label = test.iloc[i, 0]
            label = torch.tensor(label, dtype=torch.long)
            outputs = net(inputs)
            # Get the three highest values
            _, predicted = torch.topk(outputs.data, 1, dim=0)
            # Check if the correct label is in the three highest values
            if label in predicted:
                correct += 1
            total += 1
    
    print('Accuracy of the network on the test set: %d %%' % (
        100 * correct / total))

print('Finished Training')

[1,     1] loss: 3.691
[1,  1501] loss: 3.654
[1,  3001] loss: 3.627
[1,  4501] loss: 3.642
[1,  6001] loss: 3.604
[1,  7501] loss: 3.604
[1,  9001] loss: 3.517
[1, 10501] loss: 3.605
[1, 12001] loss: 3.485
[1, 13501] loss: 3.509
[1, 15001] loss: 3.442
[1, 16501] loss: 3.522
[1, 18001] loss: 3.445
[1, 19501] loss: 3.426
[1, 21001] loss: 3.420
[1, 22501] loss: 3.518
[1, 24001] loss: 3.364
[1, 25501] loss: 3.467
[1, 27001] loss: 3.311
[1, 28501] loss: 3.317
Accuracy of the network on the test set: 10 %
[2,     1] loss: 3.363
[2,  1501] loss: 3.243
[2,  3001] loss: 3.239
[2,  4501] loss: 3.382
[2,  6001] loss: 3.380
[2,  7501] loss: 3.409
[2,  9001] loss: 3.304
[2, 10501] loss: 3.467
[2, 12001] loss: 3.345
[2, 13501] loss: 3.382
[2, 15001] loss: 3.286
[2, 16501] loss: 3.435
[2, 18001] loss: 3.318
[2, 19501] loss: 3.324
[2, 21001] loss: 3.283
[2, 22501] loss: 3.440
[2, 24001] loss: 3.289
[2, 25501] loss: 3.387
[2, 27001] loss: 3.246
[2, 28501] loss: 3.228
Accuracy of the network on the test set: 11 %
[3,     1] loss: 3.334
[3,  1501] loss: 3.202
[3,  3001] loss: 3.174
[3,  4501] loss: 3.346
[3,  6001] loss: 3.328
[3,  7501] loss: 3.352
[3,  9001] loss: 3.219
[3, 10501] loss: 3.416
[3, 12001] loss: 3.285
[3, 13501] loss: 3.337
[3, 15001] loss: 3.237
[3, 16501] loss: 3.404
[3, 18001] loss: 3.284
[3, 19501] loss: 3.293
[3, 21001] loss: 3.245
[3, 22501] loss: 3.417
[3, 24001] loss: 3.263
[3, 25501] loss: 3.349
[3, 27001] loss: 3.204
[3, 28501] loss: 3.185
Accuracy of the network on the test set: 12 %
Finished Training

In [55]:
# Test the net
dataiter = iter(pd_ds)

In [41]:
# Export the model to a torchscript model
traced_script_module = torch.jit.trace(net, inputs)
traced_script_module.save("model.pt")

In [42]:
test.head(15)

       isocntry       d11  qa8_2  sd18a  d72_2        d1       d25    netuse
9296         15  0.559524    0.5   0.75   0.75  0.363636  0.666667  0.000000
992           0  0.261905    0.0   0.50   0.25  0.363636  1.000000  0.000000
29034        12  0.476190    0.0   0.25   0.50  0.363636  1.000000  0.000000
28456        35  0.166667    0.0   0.50   0.25  0.363636  0.333333  0.000000
7331         11  0.559524    1.0   0.00   0.00  0.363636  0.666667  0.000000
12359        19  0.833333    0.0   0.25   0.50  0.454545  0.666667  0.833333
24667        38  0.476190    0.5   0.50   0.25  0.363636  0.666667  0.000000
4245          4  0.392857    0.0   0.50   0.25  0.454545  0.333333  0.000000
212           0  0.142857    0.0   0.50   0.50  0.363636  1.000000  0.000000
34942        32  0.511905    0.0   0.50   0.25  0.363636  0.666667  0.000000
24268        38  0.035714    0.0   0.25   0.00  0.363636  0.333333  0.000000
683           0  0.500000    0.5   0.00   0.50  0.818182  0.666667  0.000000
14523        22  0.488095    0.5   0.50   0.75  0.000000  0.666667  0.000000
32597         8  0.190476    0.0   0.25   0.50  0.545455  1.000000  0.000000
9635         15  0.392857    0.0   0.50   0.50  0.090909  1.000000  0.000000

In [73]:
# Build an interactive widget to test the model
import ipywidgets as widgets
from IPython.display import display

"""
Original features:
- isocntry: ISO 3166-1 alpha-3 country code
- d11: age exact
- sd18a: democracy satisfaction in country
- d72_2: my voice counts in country
- d1: left-right self-placement
- d25: type of community (urban/rural)
- netuse: internet use
- d8r1: age education ended
- qa8_2: trust in the European Commission
"""

# Create a slider for the age
age_slider = widgets.IntSlider(
    value=20,
    min=18,
    max=98,
    step=1,
    description='Age:',
    disabled=False,
    continuous_update=False,
    orientation='horizontal',
    readout=True,
    readout_format='d'
)
display(age_slider)

categorical_dropdowns = []
for col in CATEGORICAL_FEATURES:
    # Create a dropdown for the column
    col_dropdown = widgets.Dropdown(
        # The options are the unique values of the column 'd1'
        options=mappings[col].keys(),
        description=f'{col}:',
        disabled=False,
    )
    display(col_dropdown)
    categorical_dropdowns.append(col_dropdown)

# Create a button to run the model
button = widgets.Button(description="Run model")
display(button)

# Create a text widget to display the result
text = widgets.Textarea(
    value='',
    placeholder='',
    description='',
    disabled=True,
    layout=widgets.Layout(width='60%', height='500px')
)
display(text)

# Create a function to run the model
def on_button_clicked(b):
    text.value = f"Predicting..."

    # Get the values of the widgets
    age = age_slider.value
    # Normalize the values
    age = (age - original_ds['d11'].min()) / (original_ds['d11'].max() - original_ds['d11'].min())
    categorical_values = [x.value for x in categorical_dropdowns]
    # Use the mapping to convert the string values to their corresponding codes
    categorical_values = [mappings[col][x] for col, x in zip(CATEGORICAL_FEATURES, categorical_values)]
    # Normalize the values
    categorical_values = [(x - original_ds[col].min()) / (original_ds[col].max() - original_ds[col].min()) for col, x in zip(CATEGORICAL_FEATURES, categorical_values)]
    # Create a list of the values
    inputs = [age] + categorical_values
    print(f"Inputs: {inputs}")
    inputs_tensor = torch.tensor(inputs, dtype=torch.float)
    
    # Run the model
    outputs = net(inputs_tensor)
    # Get the three highest values
    _, predicted = torch.topk(outputs.data, 3, dim=0)
    #predicted = torch.argmax(outputs.data)
    #predicted = predicted.item()

    countries_names_ordered_by_mapping = list(mappings[LABEL].keys())
    countries_names_ordered_by_mapping.sort(key=lambda x: mappings[LABEL][x])
    all_probabilities = [f"{x} ({mappings[LABEL][x]}): {round(y, 2)}" for x, y in zip(countries_names_ordered_by_mapping, outputs.data.tolist())]
    formatted_probabilities = '\n'.join(all_probabilities)
    
    # Display the result
    # Use the mappings to convert the codes back to their corresponding string values. This is a reverse lookup: we need to find the key by the value
    predicted_str = [list(mappings[LABEL].keys())[list(mappings[LABEL].values()).index(x)] for x in predicted]
    text.value = f"Predicted countries: {predicted_str}\n\nAll probabilities:\n{formatted_probabilities}"

button.on_click(on_button_clicked)

IntSlider(value=20, continuous_update=False, description='Age:', max=98, min=18)

Dropdown(description='sd18a:', options=(2, 3, 1, 4, 5), value=2)

Dropdown(description='d72_2:', options=(3, 2, 1, 4, 5), value=3)

Dropdown(description='d1:', options=(5, 1, 10, 9, 6, 3, 2, 7, 4, 8, 98, 97), value=5)

Dropdown(description='d25:', options=(3.0, 2.0, 1.0, nan, nan, nan, nan, nan), value=3.0)

Dropdown(description='netuse:', options=(2, 1, 3, 7, 4, 6, 5), value=2)

Dropdown(description='qa8_2:', options=(1, 2, 3), value=1)

Button(description='Run model', style=ButtonStyle())

Textarea(value='', disabled=True, layout=Layout(height='500px', width='60%'), placeholder='')

Inputs: [0.05952380952380952, 0.0, 0.25, 0.030927835051546393, 0.5, 0.0, -0.5]
Inputs: [0.42857142857142855, 0.0, 0.0, 0.030927835051546393, -0.5, 0.3333333333333333, -0.5]

In [70]:
list(mappings[LABEL].keys())

['AL',
 'AT',
 'BA',
 'BE',
 'BG',
 'CY',
 'DE-W',
 'DE-E',
 'DK',
 'ES',
 'FI',
 'FR',
 'GR',
 'HR',
 'HU',
 'IE',
 'IT',
 'LT',
 'LU',
 'LV',
 'ME',
 'MK',
 'MT',
 'NL',
 'PL',
 'PT',
 'RO',
 'RS',
 'SI',
 'SK',
 'SE',
 'CY-TCC',
 'TR',
 'RS-KM',
 'CH',
 'NO',
 'EE',
 'IS',
 'CZ',
 'GB']